* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#about-section {
    padding: 60px 10%;
    text-align: center;
}

#about-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.tagline {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}
#about-content {
    margin: auto;
    line-height: 1.9;
    font-size: 18px;
    color: #222;
}

