/* ===== NAVBAR ===== */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    height: 60px;
    width: 100%;
    background-color: rgb(252, 244, 227);
    display: flex;
    align-items: center;
    padding: 0 20px;
    /* z-index: 1000; */
}

#navbar > a {
    position: absolute;
    top: 6px;
    left: 6px;
    text-decoration: none;
    
}

#logoimg {
    height: 50px;
    width: 110px;
    transition: transform 0.3s ease;
}

#logoimg:hover {
    transform: scale(1.1);
}

#navbar > button {
    position: absolute;
    right: 40px;
    top: 10px;
    height: 40px;
    width: 100px;
    color: rgb(23,20,18);
    background-color: rgb(264, 244, 229);
    border-radius: 10%;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.5s ease;
}

#loginlink {
    font-weight: bold;
    font-size: x-small;
    text-decoration: none;
    color: rgb(23,20,18);
}

#loginbutton:hover {
    transform: scale(1.1);
    background-color: rgb(241,224,209);
}

#hero {
    margin-top: 60px;
    height: 90vh;
    background: url('heroimg.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    background-color: #f6eee0; /* Fallback if no image */
}


.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-content p {
    color: rgb(255, 255, 255);
    
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#searchbar {
    width: 60%;
    max-width: 500px;
    padding: 12px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s ease;
}

#searchbar:focus {
    border-color: black;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
/* footer */
#footer {
    background-color: rgb(252, 244, 227);
    padding: 30px;
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: 50px;
    
    
}
#footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

#footer a:hover {
    text-decoration: underline;
}

/* navbar links */

#navlinks {
    margin: 0 auto;
    display: flex;
    gap: 25px;
    position: relative;
    
}

.navitem {
    text-decoration: none;
    font-weight: bold;
    color: rgb(23,20,18);
    font-size: 0.9rem;
    transition: 0.3s ease;
}

.navitem:hover {
    transform: scale(1.1);
    color: rgb(255, 0, 0);
}