*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, Arial, sans-serif;
    background-color: rgb(252, 244, 227);  /* same cream as your site */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-box {
    background: white;
    width: 90%;
    max-width: 380px;
    padding: 35px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: left;
}

.login-box h2 {
    font-size: 1.9rem;
    margin-bottom: 8px;
    color: #1d1d1d;
}

.subtitle {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 25px;
}
label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 6px;
    font-weight: 600;
    color: #222;
}

input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 18px;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 1rem;
    transition: 0.25s ease;
}

input:focus {
    border-color: black;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    outline: none;
}
#loginbtn {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background-color: rgb(23, 20, 18);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s ease;
}

#loginbutton:hover {
    transform: scale(1.08);
    background-color: rgb(109,78,53);
    color: rgb(255,245, 230);
}
.signup-text {
    text-align: center;
    margin-top: 18px;
    font-size: 0.9rem;
}

.signup-link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(23, 20, 18);
}

.signup-link:hover {
    text-decoration: underline;
}

#darkmodebtn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px 14px;
    font-size: 0.9rem;
    border: none;
    background: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

#toggleDark:hover {
    opacity: 0.8;
}

body.dark {
    background-color: #1c1c1c;
}

body.dark .login-box {
    background-color: #2a2a2a;
    color: white;
}

body.dark input {
    background: #444;
    color: white;
    border: 1px solid #777;
}

body.dark input::placeholder {
    color: #ccc;
}

body.dark label,
body.dark .subtitle,
body.dark .signup-text,body.dark .login-box h2 {
    color: #ddd;
}

body.dark .signup-link {
    color: white;
}

body.dark #loginbtn {
    background-color: #e6e6e6;
    color: black;
}
